@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body{
    font-family: "Azeret Mono", monospace;
}

.header{
    background-image: url("images/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 100%;
    min-height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

/* banner styling */

.banner-container{
    max-width: 100%;
    max-height: 100%;
    margin: 0 221px 46px;
}

.banner-container img{
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 500px;
}

.banner-texts{
    margin-top: 70px;
}
.banner-texts h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-bottom: 32px;
}

.banner-texts p{
    margin-top: 60px;
    margin-left: 73px;
    margin-right: 73px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-button{
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 10px;
    background: rgb(13, 19, 33);
    width: 250px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-button button{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background: rgb(13, 19, 33);
    border: 0px solid rgb(13, 19, 33);
}

/* why web development styling */

.web-dev-outer{
    width: 100%;
    height: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.web-dev-inner{
    width: 70%;
    height: 1233px;
    margin: 100px 97px;
}

.why-web-dev{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.why-web-dev h1{
    margin-bottom: 35px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    margin-bottom: 40px;
}

.why-web-dev p{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 40px;
}

.reasons{
    margin: 48px;
}

.frames{
    display: flex;
    justify-content: space-between;
}

.frames img{
    width: 260px
}

.frame-content{
    width: 65%;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}

.frame-p1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 30px;
}

.frame-p2{
    margin-top: 16px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.frame-button{
    position: static;
    width: 171px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.5);
}

.frame-button button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 0px;
    background-color: white;
}

/* my inspiration */
