@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body{
    font-family: "Azeret Mono", monospace;
}

.header{
    background-image: url("images/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 154px;
}

/* banner styling */

.banner-container{
    max-width: 100%;
    max-height: 100%;
    margin: 26px 221px 44px;
}

.banner-container img{
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.banner-texts{
    margin-top: 32px;
}
.banner-texts h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 42px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

.banner-texts p{
    margin-top: 24px;
    margin-left: 73px;
    margin-right: 73px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-button{
    margin: 0 auto;
    margin-top: 32px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 220px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-button button{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    background: rgb(13, 19, 33);
    border: 0px solid rgb(13, 19, 33);
}

/* why web development styling */

.web-dev-outer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 154px;
}

.web-dev-inner{
    width: 70%;
}

.why-web-dev{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.why-web-dev h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    width: 852px;
    height: 37px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}

.why-web-dev p{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}

.frames{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.frame-content{
    width: 55%;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}

.frame-p1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.frame-p2{
    margin-top: 16px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.frame-button{
    position: static;
    width: 171px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.5);
}

.frame-button button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 0px;
    background-color: white;
}

/* my inspiration styling*/

.my-inspiration{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 151px;
}

.my-inspiration-texts h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}

.my-inspiration-texts p{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}

.inspiration-video{
    max-width: 1140px;
    max-height: 614px;
}

.inspiration-video iframe{
    width: 1076px;
    height: 550px;
}


/* My current target section styling */

.my-current-target-section{
    width: 1140px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 49px;
}

.my-current-texts{
    max-width: 852px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.my-current-texts h1{
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.my-current-texts p{
    margin-bottom: 48px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.target-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.skills{
    max-width: 364px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    margin-right: 24px;
}

.skills img{
    margin-bottom: 24px;
    width: 56px;
}

.skills h1{
    margin-bottom: 12px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-weight: 800;
}

.skills p{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-weight: 400;
    margin-bottom: 24px;
}

.skills a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.html{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.css{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.javaScript{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    margin-right: 0px;
}

/* I need Support Section */

.support-outer{
    max-width: 1140px;
    height: 313px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    background-image: url("images/handshake.jpg");
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: overlay;
    margin-bottom: 112px;
}

.support-inner{
    max-width: 1044px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-texts{
    max-width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-texts h1{
    max-width: 292px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.support-texts p{
    max-width: 606px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: Azeret Mono;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 24px;
}

.support-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feedback-field{
    width: 548px;
    max-height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 20px 19px 20px;

    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-right: 16px;
}

.feedback-field input{
    width: 313px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-weight: 400;
    border: 0px;
}

.submit-field{
    width: 120px;
    max-height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.submit-field input{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background: rgb(255, 255, 255);
    border: 0px;
}


/*footer section */

footer{
    max-width: 1140px;
    max-height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

footer > p{
    max-width: 1140px;
    max-height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contacts{
    max-width: 157.01px;
    max-height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.contacts a{
    margin-right: 24px;
}